<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title></title>
</head>
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
</body>
<script src="~/ClienteApp/dist/pages-default-blank-blank-module.js"></script>
<script src="~/ClienteApp/dist/polyfills.js"></script>
<script src="~/ClienteApp/dist/runtime.js"></script>
<script src="~/ClienteApp/dist/styles.js"></script>
<script src="~/ClienteApp/dist/vendor.js"></script>
<script src="~/ClienteApp/dist/test.js"></script>
<script src="~/ClienteApp/dist/main.js"></script>

</html>
