################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/AspNetCore/bin/Debug/netcoreapp2.1
/AspNetCore/obj
