<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--6" id="m_login">
	<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
		<div class="m-stack m-stack--hor m-stack--desktop" style="background-image: url(./assets/app/media/img//bg/bg-4.jpg);">
			<div class="m-stack__item m-stack__item--fluid">
				<div class="m-login__wrapper">
					<div class="m-login__logo">
						<a href="#">
							<img src="./assets/app/media/img//logos/logo-2.png">
						</a>
					</div>
					<span class="m-login__title">
						<h3>
							Sign In To Admin
						</h3>
					</span>
					<span class="m-login__text">
						Sign In To Admin
					</span>
					<div class="m-login__info">
						<span>
							2016 PayPal
						</span>
						<span>
							Privacy
						</span>
						<span>
							Legal
						</span>
						<span>
							Contact
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-grid__item m-grid__item--fluid m-grid  m-grid--hor m-grid__item--order-tablet-and-mobile-1" style="background-color: red;">
		<div class="m-grid__wrapper">
			<div class="m-grid__signin">
				<span>
					Sign In To Admin
				</span>
				<a href="javascript:;" id="m_login_signin" class="m-link m-link--focus m-login__account-link">
					Sign In
				</a>
			</div>
			<div class="m-grid__account" style="width: 50%;margin: 0 auto;">
				<span class="m-grid__title">
					<h3>
						Create an account
					</h3>
				</span>
				<div class="m-grid__steps" style="text-align: center;">
					<div class="m-grid__step m-grid__step--current" m-grid-target="m_grid_form_step_1" style="display: inline;">
						Personal
					</div>
					<div class="m-grid__step" m-grid-target="m_grid_form_step_2" style="display: inline;">
						Business
					</div>
				</div>
				<div class="m-grid__form">
					<div class="form-group m-form__group">
						<label for="exampleInputEmail1">
							EMAIL
						</label>
						<input type="email" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@domain.com">
					</div>
					<div class="form-group m-form__group">
						<label>
							PASSWORD
						</label>
						<div class="m-input-icon m-input-icon--right">
							<input type="text" class="form-control m-input" placeholder="create your password">
							<span class="m-input-icon__icon m-input-icon__icon--right">
								<span>
									<i class="la la-unlock-alt"></i>
								</span>
							</span>
						</div>
					</div>
					<div class="form-group m-form__group">
						<label for="exampleInputEmail1">
							CONFIRM PASSWORD
						</label>
						<input type="email" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="confirm your password">
					</div>
				</div>
				<div class="m-grid__button" style="text-align: center;">
					<a href="#" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
						<span>
							<span>
								Next
							</span>
							<i class="la la-long-arrow-right"></i>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
